<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724068091236-889s7rm5re00ghm47jcfrvtgd3jhmnm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724068091236-889s7rm5re00ghm47jcfrvtgd3jhmnm5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYv6ibtxJNOnVMpvyg5JbDPyL_0rC1JMw</string>
	<key>GCM_SENDER_ID</key>
	<string>724068091236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanmanland.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-4ee44</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-4ee44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724068091236:ios:5c166bca38a2344d84e671</string>
</dict>
</plist>